#about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        background: $main-color;
        width: 100%;
    }
    
    h2 {
        margin: 3rem;

        @include desktop {
            margin: 4rem;
        }
    }
}