#footer {
  background: silver;
  padding: 2rem 0;

  .phone_mail {
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
      display: flex;
      margin: 1rem 0;
      text-decoration: none;
      color: black;

      p {
        padding-left: 1rem;
      }
    }
  }
}