#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $footer-color;
  padding-top: 1rem;

  a {
    text-decoration: none;
    color: $accent-color;
    transition: 1s;

    &:hover {
      color: black;
    }
  }


  .phone_mail {

    a {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      align-items: center;
      justify-content: center;

      p {
        padding-top: 1rem;
      }
    }

    .icon {
      font-size: 2rem;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 3rem;

    p {
      margin: 1rem 0;
    }
  }
}