#header {
  background: $header-color;

  .container {
    display: flex;
    max-width: 1352px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    .main_logo {
      width: 100px;
      transition: 2s;

      @include desktop {
        width: 180px;

        &:hover {
          width: 200px;
        }
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    font-family: $font-main;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;

    @media (min-width: 500px) {
      font-size: 2rem;
    }
  }
}