#home {

  .opening {
    width: 100%;
  }

  .text {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    background: $main-color;

    p {
      width: 90%;
      text-align: justify;

      @include desktop {
        width: 50%;
      }
    }
  }
}