.header__nav {
  @include desktop {
    width: 50%;
  }

  .nav_menu {
    display: none;

    @include desktop {
      display: flex;
      justify-content: space-between;

      .nav_btn {
        font-family: $font-main;
        color: silver;
        text-decoration: none;
        border: none;
        border-bottom: 2px solid $header-color;
        padding: 1rem;
        background: $header-color;
        font-size: 1.2rem;
        transition: 1s;

        &:hover {
          color: white;
          border-bottom: 2px solid $main-color;
        }
      }
    }
  }
}