.header__nav {
  width: 50%;

  .nav_menu {
    display: none;

    @include desktop {
      display: flex;
      justify-content: space-between;

      .nav_btn {
        font-family: $font-main;
        color: grey;
        text-decoration: none;
        border: none;
        background: white;

        &:hover {
          color: black;
          border-color: orange;
        }
      }
    }
  }
}